---
import "../../public/css/style.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CommentSection from "../components/CommentSection.astro";
import BaseHead from "./BaseHead.astro";
import CookieBanner from "../components/CookieBanner.astro";

export interface Props {
  title: string;
  date: string;
  time: string;
  streamID: string;
}

const env = import.meta.env.VITE_NETLIFY_ENV as string;
const isTestSubdomain = env === "test";

const { title, date, time, streamID } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <BaseHead title={isTestSubdomain ? "Test - " + title : title} />
  <body>
    <p class="hidden" id="jsEnvironment">{env}</p>
    <Header />
    <main id="main">
      <!-- --- Article --- -->
      <section class="article">
        <!-- Interactions -->
        <nav class="c-breadcrumb" id="breadcrumbNav"></nav>
        <div class="article__interactions">
          <div class="article__interactions--section">
            <a
              href="../"
              id="first-section"
              class="c-button c-button--large c-button--semi-round c-button--gray-secondary c-button--gray-secondary--with-border"
              aria-label="Go to previous page"
            >
              <i class="fa-sharp fa-regular fa-arrow-left" aria-hidden="true"></i>
              Go back
            </a>
          </div>
        </div>
        <div class="article__header">
          <h1>{title}</h1>

          <div class="article__header-info">
            <span>Elliot La Fave</span>
            <p>&#183;</p>
            <span>{date}</span>
            <p>&#183;</p>
            <span>{time}</span>
          </div>

          <slot />
        </div>
      </section>
    </main>

    <CommentSection streamID={streamID} />
    <CookieBanner />

    <Footer />
  </body>
</html>
